<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="rgbGame.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="NoControl" />
            </staticContent>
        </system.webServer>
    </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="rgbGame.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
